@use '@/assets/styles/mixins' as *;

.dashboardContent {
  flex: 1;
  max-width: 988px;
  margin-inline: auto;
  display: flex;
  flex-direction: column;
  gap: 48px;

  @include m {
    gap: 32px;
  }
}

