@use '@/assets/styles/mixins' as *;

.userCardBlock {
  width: 50%;
  background: #fff;
  border-radius: 24px;
  display: flex;
  flex-direction: column;


  @include m {
    margin-inline: auto;
    width: 100%;
    max-width: 486px;
  }

}

.userCard {
  width: 486px;
  aspect-ratio: 486 / 341;
  max-width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  color: #fff;
  padding: 32px;

  @include m {
    width: unset;
    max-width: 486px;
    padding: 24px;
  }
}

.userCardBackground {
  background-image: url(/img/lk/lk-main/card.png);
  background-position: center;
  border-radius: 24px;
}

.cardTopBlock {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
}

.cardBottomBlock {
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
}

.userName {
  margin-bottom: 8px;
  font-size: 14px;
  font-weight: 600;

  @include m {
    font-size: 12px;
  }
}


.userCardBottom {
  padding: 32px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex:1;

  @include m {
    padding: 18px;
  }
}

.subtitle {
  font-size: 14px;
  font-weight: 500;
  color: var(--grey-text);
  line-height: 140%;
  margin-bottom: 10px;

  @include m {
    margin-bottom: 6px;
  }
}

.amount {
  margin-top: 6px;
  color: var(--black);
  font-weight: 500;
  font-size: 32px;
  font-family: var(--font-uncage);

  @include m {
    font-size: 24px;
  }
}

.vibes {
  height: 60px;
  background: #F8F9FA;
  border-radius: 16px;
  width: 130px;
  padding: 8px 12px;
  display: flex;
  align-items: center;
  gap: 9px;

  @include m {
    height: 47px;
  }
}

.cardLogo {
  @include m {
    width: 40%;
  }
}

.conto {
  font-weight: 500;
  font-size: 14px;
  margin-bottom: 16px;
  opacity: .5;
  line-height: 38px;
}

.qualif {
  font-weight: 500;
  font-size: 14px;
}


.cardAmount {
  margin-top: 6px;
  font-weight: 500;
  font-size: 48px;
  font-family: var(--font-uncage);

  @include m {
    font-size: 32px;
  }
}

.vibesIcon {
  width: 39px;
  height: 39px;

  @include m {
    width: 30px;
    height: 30px;
  }
}

.vibesNumber {
  font-weight: 600;
  font-size: 20px;
  line-height: 24px;

  @include m {
    font-size: 16px;
  }
}

.vibesText {
  color: var(--grey-text);
  font-size: 12px;
  font-weight: 500;
  line-height: 130%;
}

.trigger {
  border: 1px solid rgba(255, 255, 255, 1);
  border-radius: 32px;
  width: 160px;
  height: 28px;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
  padding: 2px 12px 0px 8px;
  font-size: 14px;
  font-weight: 600;
  line-height: 24px;

  svg {
    stroke: #fff;
  }

  @include m {
    font-size: 12px;
    width: 144px;
  }
}