@use '@/assets/styles/mixins' as *;

.additionalUserInfo {
  width: 50%;
  display: flex;
  flex-direction: column;
  gap: 16px;

  max-width: 486px;
  margin-inline: auto;

  @include m {
    width: 100%;
  }
}

.buttons {
  display: flex;
  gap: 22px;

  @include m {
    flex-direction: column;
  }
}

.btn {
  width: 100%;
}
