@use '@/assets/styles/mixins' as *;

.headerRow {
  display: flex;
  gap: 20px;
  align-items: center;
  margin-bottom: 24px;
  width: 100%;
}

.backBtn {
  position: absolute;
  background: #fff;
  top: 16px;
  left: -34px;
  width: 60px;
  height: 60px;
  border-radius: 50%;
  border: #B8E05F;
  display: flex;
  justify-content: center;
  align-items: center;
  border: 2px solid rgba(248, 249, 250, 1);

  @include m {
    position: static;
  }
}

.title {
  font-size: 24px;
  font-weight: 600;
  line-height: 32px;

  @include m {
    font-size: 20px;
  }
}

.step {
  margin-left: auto;
  color: rgba(37, 37, 38, 0.5);
  font-size: 18px;
  font-weight: 600;
  line-height: 26px;
}

.text {
  color: rgba(37, 37, 38, 0.5);
  font-size: 14px;
  font-weight: 400;
  line-height: 19px;
  margin-bottom: 8px;
}

.partnerDescription {
  display: flex;
  gap: 8px;
  align-items: center;
  font-weight: 600;
  margin-bottom: 26px;
}

.idBadge {
  font-size: 12px;
  font-weight: 500;
  line-height: 24px;
}

.controlWrapper {
  position: relative;
  height: 89px;
}

.continueBtn {
  width: 195px;
  height: 60px;
  border-radius: 60px!important;
}


.scroll {
  max-height: 90vh;
  overflow-y: auto;
}

.subtitle {
  font-weight: 600;
  margin-bottom: 12px;
}

.row {
  display: flex;
  gap: 12px;
  margin-bottom: 8px;
  line-height: 24px;
}


.label {
  color: var(--grey-text);
}

.bottomText {
  margin-top: 16px;
  color: var(--grey-text);
  max-width: 340px;
  margin-bottom: 24px;
}

.btn{
  width: 289px;
}